src/apk
src/apk-test
src/apk.static
src/apk.pc
src/libapk.so
src/libak.so.2
src/libapk.so.2.10.4
test/*.got
test/repos.out
test/repos.stamp
test/test*.out
test/test*.ok
libfetch/*err.h
*.a
*.o
*.d
*.cmd
*.so
*.5
*.8
config.mk
